:root{
	font-size: 12px;
}
*{
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	background: rgb(225, 226, 233);
	padding-top: 2em;
}
.accordion{
	border-radius: .33em;
	background: white;
	max-width: 70vw;
	margin: 5em auto;
}
.fold > *{
	padding: 0 1em;
}
.fold > *:nth-child(1){
	background: rgb(237, 237, 237);
	padding: 1em;
	text-align: left;
	font-weight: bold;
	width: 100%;
	border: none;
}
.fold > *:nth-child(2){
	transition: max-height .5s ease-in, padding .5s ease-in;
}
.fold.open > *:nth-child(2){
	padding-top: 1em;
	padding-bottom: 1em;
}